<head>
  <meta charset="UTF-8">

{% seo %}
<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
<link rel='preload' as='style' href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<p style="text-align:right">
  <a class="nav-link" href="{{site.baseurl}}/">Home</a> |
  <a class="nav-link" href="/#portfolio">Portfolio</a> | 
  <a class="nav-link" href="/#about">About</a> 
</p>