<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link rel='preload' as='style' href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header">
      {% include nav.html %}
      <h2 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline"">Data Analyst</h2>
      <h3 class="project-tagline1">Collect, process, analyse and present data - making your data count in ways that matter.</h3>
    </header>

    <main id="content" class="main-content" role="main">
     
      {{ content }}

      <footer class="site-footer">
        <h4>Get in touch</h4>
        <div class="contact">
        <table class="contact-table">
          <tr>
            <td><a href="https://www.linkedin.com/in/siri-mrudula-kalahasti/" target="_blank"><img src="{{site.baseurl}}/assets/images/linkedin.png"  class="footer-icon"></a></td>
            <td><a href="mailto:mrudula0512@gmail.com" target="_blank"><img src="{{site.baseurl}}/assets/images/email.png"  class="footer-icon"></a></td>
            <td><a href="https://public.tableau.com/app/profile/siri.mrudula" target="_blank"><img src="{{site.baseurl}}/assets/images/tableau.png"  class="footer-icon"></a></td>
          </tr>
        </table>
        </div>
      </footer>
    </main>
  </body>
</html>